<div class="row">
  {{#each notes}}
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{title}} <a href="/notes/edit/{{_id}}">
            <i class="fas fa-edit"></i>
          </a>
        </h4>
        <p>{{descripcion}}</p>
        {{!-- Para usar el _method-override se añade el input de abajo y ?_method=yElMetodo --}}
        <form action="/notes/delete/{{_id}}?_method=DELETE"
          method="POST">
          {{!-- Este input solo se usa para el _method-override --}}
          <input type="hidden"
            name="_method"
            value="DELETE">
          <button class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
        <small>{{date}}</small>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <p class="lead">Inserte una nueva tarea</p>
      <a href="/notes/add"
        class="btn btn-success btn-block">
        Crear una nueva nota
      </a>
    </div>
  </div>
  {{/each}}
</div>
